[submodule "src/other-lib"]
	path = src/other-lib
	url = git@github.com:zhangkunyi/other-lib.git
[submodule "src/apm-ctrl"]
	path = src/apm-ctrl
	url = git@github.com:zhangkunyi/apm-ctrl.git
[submodule "src/ego-planner-minco"]
	path = src/ego-planner-minco
	url = git@github.com:zhangkunyi/ego-planner-minco.git
[submodule "src/task-planner"]
	path = src/task-planner
	url = git@github.com:zhangkunyi/task-planner.git
[submodule "src/uav-simulator"]
	path = src/uav-simulator
	url = git@github.com:zhangkunyi/uav-simulator.git
[submodule "src/ekf-fuser"]
	path = src/ekf-fuser
	url = git@github.com:zhangkunyi/ekf-fuser.git
[submodule "src/faster-lio"]
	path = src/faster-lio
	url = https://github.com/lyf-FATAS/faster-lio.git
