[submodule "src/ego-planner-bspline"]
	path = src/ego-planner-bspline
	url = git@github.com:zhangkunyi/ego-planner-bspline.git
[submodule "src/fast-lio-fl"]
	path = src/fast-lio-fl
	url = git@github.com:zhangkunyi/fast-lio-fl.git
[submodule "src/other-lib"]
	path = src/other-lib
	url = git@github.com:zhangkunyi/other-lib.git
[submodule "src/apm-ctrl"]
	path = src/apm-ctrl
	url = git@github.com:zhangkunyi/apm-ctrl.git
