[submodule "other-lib"]
	path = other-lib
	url = git@github.com:zhangkunyi/other-lib.git
[submodule "apm-ctrl"]
	path = apm-ctrl
	url = git@github.com:zhangkunyi/apm-ctrl.git
[submodule "fast-lio-fl"]
	path = fast-lio-fl
	url = git@github.com:zhangkunyi/fast-lio-fl.git
[submodule "ego-planner-bspline"]
	path = ego-planner-bspline
	url = git@github.com:zhangkunyi/ego-planner-bspline.git
